* {
  font-size: 16px;
  text-align: center;
  font-family: Arial, sans-serif;
}

html {
  background: #89cff0;
}

canvas {
  background-color: white;
}

h1 {
  font-size: 80px;
  margin: 30px 30px 15px;
}

h2 {
  font-size: 40px;
  margin: 10px;
}

table, tbody, tr {
  text-align: left;
}

input[type="number"] {
  width: 50px;
}

.titles {
  text-align: center;
  line-height: 1;
  font-family: 'Amatic SC', cursive;
}

#timer {
  margin: 12px 0;
  font-size: 20px;
}

#settings {
  position: absolute;
  left: 25px;
  top: 5px;
}

#minMaxSizeWarning {
  color: red;
  margin: 6px 0;
}