* {
  font-size: 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

html {
  background: #89cff0;
}

h1 {
  font-size: 80px;
  margin: 20px 30px 15px;
}

h2 {
  font-size: 54px;
  margin: 10px;
}

input[type="number"] {
  width: 50px;
  color: black;
}

.button {
  width: 95px;
  height: 40px;
  margin: 5px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%);
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  text-align: center;
  box-shadow: 0px 6px rgba(0,0,0,.2);
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #0082c9 0%,#0978ac 100%);
  border-bottom: 4px solid #0978ac;
}

.button:active {
  box-shadow: 0 0px #666;
  transform: translateY(3px);
}

.button:disabled {
  background: gray;
  border-bottom: 4px solid gray;
  box-shadow: 0 4px #666;
  transform: translateY(3px);
  cursor: not-allowed;
  bottom: 2px;
}

.titles {
  text-align: center;
  line-height: 1;
  font-family: 'Amatic SC', cursive;
}

.completeBanner {
  display: flex;
  margin: 16px auto;
  width: 440px;
  height: 38px;
  justify-content: center;
  align-items: center;
  background: rgb(72, 233, 72);
  box-shadow: 3px 5px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
}

.completeBanner span {
  font-size: 18px;
}

#timer {
  margin: 15px 0;
  font-size: 22px;
}

.buttonContainer {
  display: flex;
  width: 210px;
  margin: auto;
}

#settings {
  position: absolute;
  left: 25px;
  top: 5px;
}

#listOfTimes {
  position: absolute;
  right: 25px;
  top: 5px;
}

#listContainer {
  border: 1px solid #4eb5e5;
  background: #4eb5e5;
  width: 355px;
  padding: 10px 10px 10px 30px;
  max-height: 214px;
  overflow-y: auto
}

#listContainer li {
  text-align: left;
  font-size: 18px;
}

#minMaxSizeWarning {
  color: red;
  margin: 6px 0;
}